/* YourComponent.css */
.scrollable-box::-webkit-scrollbar {
  width: 10px;
}

.scrollable-box::-webkit-scrollbar-track {
  background: rgba(56, 56, 56, 1);
}

.scrollable-box::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.scrollable-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}
