.drone-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62.5%; /* Adjust the height as needed */
}
.drone-large-svg {
  height: 50%;
  width: 100%;
}

.date-text,
.charging-text,
.percent-text {
  text-align: center;
  color: #00e1b4;
  font-size: 1.3rem;
}

@keyframes colorWave {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
/* colorwave effect for charging status*/
.charging-text {
  background: linear-gradient(
    90deg,
    #50ddc1,
    #2b8c79,
    #36f0cb,
    #00e1b4,
    #00c9a2
  );

  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: colorWave 10s ease infinite;
}

/* ---------------------------------------------Media Queries ------------------------------------------*/
@media (min-width: 500px) and (max-width: 599px) {
  .drone-large-svg {
    width: 75%;
  }
}
@media (min-width: 600px) and (max-width: 699px) {
  .drone-large-svg {
    width: 80%;
  }
}

@media (min-width: 700px) and (max-width: 767px) {
  .drone-large-svg {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 799px) {
  .percent-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 800px) and (max-width: 899px) {
  .percent-text {
    font-size: 1rem;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .percent-text {
    font-size: 1.1rem;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .percent-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 2000px) {
  .percent-text {
    font-size: 1.5rem;
  }
}
