.mainDiv {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
}

.buttonContainer {
  border: 1px solid #797979;
  padding: 10px;
  position: relative;
  margin-top: 2rem;
  width: 94%;
  height: 120px;
  margin-left: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toggleType {
  position: absolute;
  top: -15px;
  left: 50.5%;
  transform: translateX(-50%);
  background-color: #181818;
  padding: 0 5px;
  z-index: 1;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.button {
  border: 1px solid white;
  border-radius: 5px;
  color: gray;
  background-color: transparent;
  padding: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  flex: 1;
  text-align: center;
  margin: 0 10px;
  white-space: nowrap;
}

.button:hover {
  color: white;
  border-color: #3898ec;
}

.button:active {
  color: gray;
  border-color: white;
}

.largeBox {
  display: block;
  position: relative;
  border: 1px solid #797979;
  border-radius: 5px;
}

.dropdown-textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* You can adjust this as per your needs. */
  position: absolute;
  top: 25px;
  left: 51%;
  transform: translateX(-50%);
}

.dropdown {
  background-color: transparent;
  border: 1px solid #00e1b4;
  border-radius: 4px;
  height: 45px;
  font-size: 1.3em;
  width: 300px;
  color: #e0e0e0;
}

.textbox {
  background-color: transparent;
  border: 1px solid #00e1b4;
  border-radius: 4px;
  height: 45px;
  font-size: 1.3em;
  width: 120px; /* Adjust this as per your needs */
  color: #e0e0e0;
  text-align: center;
}
.enterButton {
  background-color: transparent;
  border: 1px solid #00e1b4;
  border-radius: 4px;
  color: #e0e0e0;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  width: 120px;
  height: 45px;
  padding: 0 20px; /* Adjust padding as needed */
  cursor: pointer;
}

.enterButton:hover {
  border-color: #e0e0e0;
  color: #00e1b4;
}

.arrowIcon {
  color: #e0e0e0; /* Adjust color as needed */
  cursor: pointer;
  /* Add any other styles as needed */
}

/* ------------------------------------------------------------------------MEDIA QUERIES------------------------------------------------------------------------ */

/*  */
/*  */
/*  */
/*  */
/*  */
/* ------------------------------------------------Toggle Image Type start--------------------------- */
@media (min-width: 500px) and (max-width: 525px) {
  .mainDiv {
    width: 88%;
    margin-left: 9px;
  }
  .toggleType {
    font-size: 1em;
  }
  .button {
    font-size: 0.9em;
  }
  .buttonContainer {
    height: 80px;
  }
}
@media (min-width: 526px) and (max-width: 550px) {
  .mainDiv {
    width: 88%;
    margin-left: 11px;
  }
  .toggleType {
    font-size: 1.1em;
  }
  .button {
    font-size: 0.99em;
  }
  .buttonContainer {
    height: 85px;
  }
}
@media (min-width: 551px) and (max-width: 582px) {
  .mainDiv {
    width: 88%;
    margin-left: 12px;
  }
  .toggleType {
    font-size: 1.1em;
  }
  .button {
    font-size: 1.05em;
  }
  .buttonContainer {
    height: 90px;
  }
}
@media (min-width: 583px) and (max-width: 608px) {
  .mainDiv {
    width: 89%;
    margin-left: 12px;
  }
  .toggleType {
    font-size: 1.2em;
  }
  .button {
    font-size: 1.1em;
  }
  .buttonContainer {
    height: 95px;
  }
}
@media (min-width: 609px) and (max-width: 699px) {
  .mainDiv {
    width: 90%;
    margin-left: 12px;
  }
  .toggleType {
    font-size: 1.2em;
  }
  .button {
    font-size: 1.3em;
  }
}
@media (min-width: 700px) and (max-width: 752px) {
  .mainDiv {
    width: 91%;
    margin-left: 14px;
  }
  .toggleType {
    font-size: 1.3em;
  }
  .button {
    font-size: 1.4em;
  }
}
@media (min-width: 753px) and (max-width: 767px) {
  .mainDiv {
    width: 91%;
    margin-left: 14px;
  }
  .toggleType {
    font-size: 1.3em;
  }
}
@media (min-width: 768px) and (max-width: 791px) {
  .button {
    font-size: 0.75em;
  }
  .toggleType {
    font-size: 0.9em;
  }
  .buttonContainer {
    height: 90px;
  }
}
@media (min-width: 792px) and (max-width: 818px) {
  .button {
    font-size: 0.8em;
  }
  .toggleType {
    font-size: 1em;
  }
  .buttonContainer {
    height: 100px;
  }
}
@media (min-width: 819px) and (max-width: 847px) {
  .button {
    font-size: 0.85em;
  }
  .toggleType {
    font-size: 1.1em;
  }
  .buttonContainer {
    height: 100px;
  }
}
@media (min-width: 848px) and (max-width: 904px) {
  .button {
    font-size: 0.9em;
  }
  .toggleType {
    font-size: 1.2em;
  }
  .buttonContainer {
    height: 100px;
  }
}
@media (min-width: 905px) and (max-width: 999px) {
  .button {
    font-size: 1em;
  }
  .toggleType {
    font-size: 1.3em;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .button {
    font-size: 1.1em;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .button {
    font-size: 1.2em;
  }
}
@media (min-width: 1200px) and (max-width: 1299px) {
  .button {
    font-size: 1.3em;
  }
}
@media (min-width: 1300px) and (max-width: 1347px) {
  .button {
    font-size: 1.4em;
  }
}
/* ------------------------------------------------Toggle Image Type end--------------------------- */
/*  */
/*  */
/*  */
/*  */
/*  */
/* ------------------------------------big box and content start-------------------------------------------- */
@media (min-width: 500px) and (max-width: 544px) {
  .largeBox {
    height: 550px;
    width: 77.6%;
    margin-left: 49px;
  }
}
@media (min-width: 545px) and (max-width: 564px) {
  .largeBox {
    height: 550px;
    width: 78.5%;
    margin-left: 52px;
  }
}
@media (min-width: 565px) and (max-width: 582px) {
  .largeBox {
    height: 550px;
    width: 79.3%;
    margin-left: 52px;
  }
}
@media (min-width: 583px) and (max-width: 599px) {
  .largeBox {
    height: 550px;
    width: 80.7%;
    margin-left: 52px;
  }
}
@media (min-width: 600px) and (max-width: 699px) {
  .largeBox {
    height: 550px;
    width: 82%;
    margin-left: 52px;
  }
}
@media (min-width: 700px) and (max-width: 767px) {
  .largeBox {
    height: 550px;
    width: 83.5%;
    margin-left: 52px;
  }
}
@media (min-width: 768px) and (max-width: 799px) {
  .largeBox {
    height: 550px;
    width: 89%;
    margin-left: 48px;
  }
}
@media (min-width: 800px) and (max-width: 899px) {
  .largeBox {
    height: 550px;
    width: 90%;
    margin-left: 48px;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .largeBox {
    height: 550px;
    width: 91%;
    margin-left: 48px;
  }
}
@media (min-width: 1000px) and (max-width: 1159px) {
  .largeBox {
    height: 550px;
    width: 92%;
    margin-left: 48px;
  }
}
@media (min-width: 1160px) and (max-width: 1749px) {
  .largeBox {
    height: 670px;
    width: 93%;
    margin-left: 48px;
  }
}
@media (min-width: 1750px) and (max-width: 2000px) {
  .largeBox {
    height: 750px;
    width: 94.5%;
    margin-left: 48px;
  }
}
/* @media(min-width: 2001px){
  
  } */

/* ------------------------------------big box and content end-------------------------------------------- */
/*  */
/*  */
/*  */
/* -----------------------------------timescale bar start------------------------------------------------- */
@media (min-width: 500px) and (max-width: 554px) {
  .enterButton,
  .textbox {
    font-size: 0.85em;
    width: 50px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 0.85em;
    width: 170px;
  }
  .enterButton {
    padding: 0 12px;
  }
}
@media (min-width: 555px) and (max-width: 574px) {
  .enterButton,
  .textbox {
    font-size: 0.9em;
    width: 65px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 0.9em;
    width: 190px;
  }
}
@media (min-width: 575px) and (max-width: 599px) {
  .enterButton,
  .textbox {
    font-size: 0.9em;
    width: 70px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 0.9em;
    width: 200px;
  }
}
@media (min-width: 600px) and (max-width: 616px) {
  .enterButton,
  .textbox {
    font-size: 1em;
    width: 75px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 1em;
    width: 220px;
  }
}
@media (min-width: 617px) and (max-width: 659px) {
  .enterButton,
  .textbox {
    font-size: 1em;
    width: 80px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 1em;
    width: 230px;
  }
}
@media (min-width: 660px) and (max-width: 699px) {
  .enterButton,
  .textbox {
    font-size: 1.1em;
    width: 90px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 1.1em;
    width: 240px;
  }
}
@media (min-width: 700px) and (max-width: 729px) {
  .enterButton,
  .textbox {
    font-size: 1.2em;
    width: 100px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 1.2em;
    width: 240px;
  }
}
@media (min-width: 730px) and (max-width: 767px) {
  .enterButton,
  .textbox {
    font-size: 1.3em;
    width: 110px;
    height: 50px;
  }
  .dropdown {
    height: 50px;
    font-size: 1.3em;
    width: 260px;
  }
}
@media (min-width: 768px) and (max-width: 799px) {
  .enterButton,
  .textbox {
    font-size: 0.8em;
    width: 80px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 0.8em;
    width: 175px;
  }
}
@media (min-width: 800px) and (max-width: 899px) {
  .enterButton,
  .textbox {
    font-size: 0.9em;
    width: 85px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 0.9em;
    width: 200px;
  }
}
@media (min-width: 900px) and (max-width: 999px) {
  .enterButton,
  .textbox {
    font-size: 1em;
    width: 90px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 1em;
    width: 235px;
  }
}
@media (min-width: 1000px) and (max-width: 1099px) {
  .enterButton,
  .textbox {
    font-size: 1em;
    width: 90px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 1em;
    width: 235px;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  .enterButton,
  .textbox {
    font-size: 1.1em;
    width: 100px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 1.1em;
    width: 250px;
  }
}
@media (min-width: 1200px) and (max-width: 1250px) {
  .enterButton,
  .textbox {
    font-size: 1.2em;
    width: 110px;
    height: 40px;
  }
  .dropdown {
    height: 40px;
    font-size: 1.2em;
    width: 275px;
  }
}

/* -----------------------------------timescale bar end--------------------------------------------------- */
