.row-one {
  margin-top: 50px;
  margin-bottom: 50px;
}
.row-two-div {
  height: 570px;
}

.wireless-sensor-network-parent {
  border: 1px solid #797979;
  padding: 10px;
  position: relative;
  width: 86%;
  display: flex;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 3rem;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.65);
}

.wireless-sensor-menu-parent {
  border: 1px solid #00e1b4;
  padding: 10px;
  position: relative;
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  border-radius: 5px;
  flex-direction: column;
  margin-left: 30px;
  flex-direction: row;
  font-size: 18px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.65);
}

.growing-degree-days-parent {
  border: 1px solid #797979;
  padding: 10px;
  position: relative;
  width: 89%;
  display: flex;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 7px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.65);
}

/* --------------------------------row 1 end---------------------- */
/*  */
/*  */
/*  */
/* --------------------------------row 2 start---------------------- */

.plug-and-play-parent {
  border: 1px solid #797979;
  padding: 20px;
  position: relative;
  width: 88.7%;
  display: flex;
  height: 100%;
  border-radius: 5px;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 3rem;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.65);
}
.sensor-status-parent {
  border: 1px solid #797979;
  padding: 20px;
  position: relative;
  width: 89%;
  display: flex;
  height: 15%;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 40px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.65);
}

.sensors-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.sensors-large-svg {
  /* height: 70%; */
  width: 100%;
}

.environmental-conditions-parent {
  border: 1px solid #797979;
  padding: 20px;
  position: relative;
  width: 88.7%;
  display: flex;
  height: 100%;
  border-radius: 5px;
  margin-left: 10px;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.65);
}

/* --------------------------------row 2 end---------------------- */
/*  */
/*  */
/*  */
/* --------------------------------row 3 start---------------------- */

/* --------------------------- MEDIA QUERIES ------------------------------ */
@media (min-width: 1800px) and (max-width: 2000px) {
  .growing-degree-days-parent,
  .environmental-conditions-parent {
    margin-left: 14px;
  }
}
