.drone-button {
  background-color: transparent;
  border: 1px solid orange;
  border-radius: 4px;
  color: #e0e0e0;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px; /*! MAKE A MEDIA QUERY TO ADDRESS THIS Needs to change upon screen shrink/growing to align with text above it */
}

.center-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
